/* You can add global styles to this file, and also import other style files */
@import (css) url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap");
@import "./styles/sb-button.less";

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", serif;
}
