@import "./colors.less";

.sb-sidebar {
    width: 280px;
    height: 100%;

    background-color: @background-light;
    color: @text-dark;

    font-size: 18px;

    &__element {
        display: flex;
        align-items: center;

        user-select: none;
        outline: 0;
    }

    &__element-icon {
        margin-right: 19px;
    }

    &__element-label {
        font-weight: 300;
        color: #000;
    }

    &__section {
        padding: 22px;
        
        &:not(:first-child) {
            border-top: 1px solid #c4c4c4;
        }
    }

    &__user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__username {
        margin-bottom: 15px;
        font-size: 22px;
    }

    &__stats {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    &__stats-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 16px;
    }
}

@media (min-width: 500px) {
    .sb-sidebar {
        width: 450px;
    }
}

@media (min-width: 1000px) {
    .sb-sidebar {
        width: 600px;
    }
}

sb-sidebar-element:not(:last-child) .sb-sidebar__element {
    margin-bottom: 26px;
}