@import "../../../styles/colors.less";

.game-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;

    &__title {
        font-size: 24px;
    }

    &__timer {
        font-weight: 300;
        font-size: 18px;
    }
}
