@import "../../../styles/colors.less";
@import "../../../styles/constants.less";

.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;

    &__form {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__label {
        width: @input-max-width;
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;
    }

    &__errors {
        display: flex;

        &._error,
        ._error & {
            color: @form-error;
            fill: @form-error;
        }

        &._warning,
        ._warning & {
            color: @form-warning;
            fill: @form-warning;
        }
    }

    &__icon {
        margin-right: 7px;
    }

    &__server-errors {
        display: flex;
        margin-top: 12px;

        color: @form-error;
        fill: @form-error;
    }
}