<div class="registration">
    <form [formGroup]="registrationForm" class="registration__form" (ngSubmit)="submitHandler()">
        <label class="registration__label">
            Адрес электронной почты
            <input type="email" formControlName="email">
            <div class="registration__errors" *ngIf="registrationForm.invalid && (_email.touched && _email.dirty)">
                <span *ngIf="_email.errors?.required">Поле почты обязательно для заполнения</span>
                <span *ngIf="_email.errors?.pattern">Введен некорректный адрес электронной почты</span>
            </div>
        </label>
        <label class="registration__label">
            Никнейм
            <input type="text" id="nickname" formControlName="nickname">
            <div class="registration__errors" *ngIf="registrationForm.invalid && (_nickname.touched && _nickname.dirty)">
                <span *ngIf="_nickname.errors?.required">Поле никнейма обязательно для заполнения</span>
                <span *ngIf="_nickname.errors?.minlength || _nickname.errors?.maxlength">
                    Никнейм должен быть от 3 до 20 смиволов
                </span>
            </div>
        </label>
        <label class="registration__label">
            Пароль
            <input type="password" formControlName="password">
            <div class="registration__errors" *ngIf="registrationForm.invalid && (_password.touched && _password.dirty) || (_confirmPassword.touched && _confirmPassword.dirty)">
                <span *ngIf="_password.errors?.required">Поле пароля обязательно для заполения</span>
                <span *ngIf="_password.errors?.minlength || _password.errors?.maxlength">
                    Пароль должен быть от 5 до 20 смиволов
                </span>
            </div>
        </label>
        <label class="registration__label">
            Подвердите пароль
            <input type="password" formControlName="confirmPassword">
            <div class="registration__errors" *ngIf="registrationForm.invalid && (_password.touched && _password.dirty) || (_confirmPassword.touched && _confirmPassword.dirty)">
                <span *ngIf="_confirmPassword.errors?.required">Подтвердите пароль</span>
                <span *ngIf="_confirmPassword.errors?.mustMatch">Пароли должны совпадать</span>
            </div>
        </label>
        <label class="registration__label">
            Согласие с правилами
            <input type="checkbox" formControlName="acceptTerms">
            <div class="registration__errors" *ngIf="registrationForm.invalid && (acceptTerms.touched || acceptTerms.dirty)">
                <span *ngIf="acceptTerms.errors">Согласие с правилами</span>
            </div>
        </label>
        <button
                type="submit"
                class="registration__button"
                *ngIf="registrationForm.enabled"
                [disabled]="registrationForm.invalid"
        >
            Зарегистрироваться
        </button>
        <div class="registration__server-errors" *ngIf="serverErrors" [ngSwitch]="serverErrors">
            <span *ngSwitchCase="400">Такой пользователь уже существует</span>
            <span *ngSwitchCase="500">Внутренняя ошибка сервера</span>
            <span *ngSwitchDefault>Что-то пошло не так</span>
        </div>
    </form>
</div>