<div class="auth">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="auth__form">
        <label class="auth__label">
            Адрес электронной почты
            <input formControlName="email" type="text">
            <div class="auth__errors" *ngIf="authForm.invalid && (_email.touched && _email.dirty)">
                <span *ngIf="_email.errors?.required">Поле почты обязательно для заполнения</span>
                <span *ngIf="_email.errors?.pattern">Введен некорректный адрес электронной почты</span>
            </div>
        </label>
        
        <label class="auth__label">
            Пароль
            <input formControlName="password" id="password" type="password">
            <div class="auth__errors" *ngIf="authForm.invalid && (_password.touched && _password.dirty)">
                <span *ngIf="_password.errors?.required">Поле пароля обязательно для заполения</span>
                <span *ngIf="_password.errors?.minlength || _password.errors?.maxlength">
                    Пароль должен быть от 5 до 20 смиволов
                </span>
            </div>
        </label>
        
        <button [disabled]="authForm.invalid" type="submit">Войти</button>
        <div class="auth__server-errors" *ngIf="errorCode" [ngSwitch]="errorCode">
            <span *ngSwitchCase="401">Неверные данные</span>
            <span *ngSwitchDefault>Что-то пошло не так</span>
        </div>
    </form>
</div>